body {
    margin: 0;
    padding: 0;
    background-color: #1b7eda;

}
header {
    background-color: #f44336;
    padding: 20px 0;
}
div.gridItemContainer {  
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
    background-color: #2196F3;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
}

div.gridItem {
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    text-align: center;

}

#player1 {
    background-color: red;
}

#player2 {
    background-color: blue;
}


h1 {
    margin: 0 0 15px;
    text-align: center;
    color: #fff;
    font-size: 48px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

div.gridButtonContainer {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    justify-content: center;
}

div.gridButtonContainer button {
    margin: 5px;
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
}

.newGameContainer{
    display: flex;
    justify-content: center;
}

#newGameBtn{
    text-align: center;
    margin: 10px;
    padding: 15px 30px;
    background-color: #f44336;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 24px;
}

#newGameBtn:hover {
    background-color: #d32f2b;
}

.resultContainer{
display: flex;
justify-content: center;
}

div.outcome{
    font-size: 30px;
}
