div.gridItemContainer{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows:100px 100px 100px 100px 100px 100px 100px;
    background-color: #2196F3;
    justify-content: center;
}

div.gridItem{
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
}

h1{
    text-align: center;
}

div.gridButtonContainer{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    justify-content: center;
}

div.gridButtonContainer button{
    margin: 5px ;
    padding: 5px;
}

.player1{
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 50%;
    text-align: center;
}

.player2{
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    height: 40px;
    width: 40px;
    background-color: blue;
    border-radius: 50%;
    text-align: center;
}